# Tableaux

# Les tableaux :

Un tableau est une suite ordonnée d'éléments. Ces éléments sont séparés par des virgules et entourés par des crochets.

En Python, un tableau est de type list.

> A voir sur Lumni : https://www.lumni.fr/video/notion-de-listes-en-informatique-et-application-aux-images-numeriques

## Exemples :

### Un tableau vide :

In [ ]:
monTableau = []
monTableau, type(monTableau)

### Un tableau d'entiers :

In [ ]:
tab_entiers = [ 1, 2, 3, 4, 5]
tab_entiers, type(tab_entiers)

### Un tableau de chaines de caractères :

In [ ]:
tab_chaines = [ "toto", "titi", "tata", "tutu", "tete"]
tab_chaines, type(tab_chaines)

### Un tableau de tuples :

In [ ]:
tab_tuples = [(1, 2, 'moi'),(3, 4, 'toi'),(5, 6, 'nous')]
tab_tuples, type(tab_tuples)

### Un tableau de tableau :

In [ ]:
tab_tableaux = [[0, 2, 4, 6, 8],[1, 3, 5, 7, 9]]
tab_tableaux, type(tab_tableaux)

> **Présentation sous forme de matrice en ligne et colonne :**
>
> ```python
matrice = [[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]]
```
> Pour cibler un élément particulier de la matrice, on utilise la notation avec "doubles crochets" : matrice[ligne][colonne]

In [12]:
tab_tuples = [(1, 2, 'moi'),
              (3, 4, 'toi'),
              (5, 6, 'nous')]

tab_tableaux = [[0, 2, 4, 6, 8],
                [1, 3, 5, 7, 9]]
tab_tableaux[1][0]

1

## Lecture d'un tableau par index :

Le premier élément est toujours à l'index `0`, le dernier est toujours à l'index `-1` :

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-htl6{font-size:14px;font-family:"Comic Sans MS", cursive, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-yaja{font-size:14px;font-family:"Comic Sans MS", cursive, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-l3hy{background-color:#D2E4FC;font-size:14px;font-family:"Comic Sans MS", cursive, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-adyi{background-color:#D2E4FC;font-size:14px;font-family:"Comic Sans MS", cursive, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-htl6">"toto"</th>
    <th class="tg-htl6">"titi"</th>
    <th class="tg-htl6">"tata"</th>
    <th class="tg-htl6">"tutu"</th>
    <th class="tg-htl6">"tete"</th>    
  </tr>
  <tr>
    <td class="tg-yaja">0</td>
    <td class="tg-yaja">1</td>
    <td class="tg-yaja">2</td>
    <td class="tg-yaja">3</td>
    <td class="tg-yaja">4</td>    
  </tr>
  <tr>
    <td class="tg-adyi">-5</td>
    <td class="tg-adyi">-4</td>
    <td class="tg-adyi">-3</td>
    <td class="tg-adyi">-2</td>
    <td class="tg-adyi">-1</td>
  </tr>
</table>

### Accès à un élément :

In [13]:
tab_chaines[-2]

'tutu'

In [14]:
tab_tuples[1][2]

'toi'

In [15]:
"toto" in tab_chaines

True

In [16]:
tab_chaines.index("toto")

0

### Parcours des éléments d'un tableau :

In [17]:
for element in tab_chaines :
    print(element)

toto
titi
tata
tutu
tete

La fontion `len(monTableau)` renvoie la taille d'un tableau, le nombre d'éléments qu'il contient :

In [18]:
for i in range(len(tab_chaines)) :
    print(tab_chaines[i])

toto
titi
tata
tutu
tete

In [19]:
for i in range(len(tab_tableaux)) :
    for j in range(len(tab_tableaux[i])) :
        print(tab_tableaux[i][j])

0
2
4
6
8
1
3
5
7
9

## Modification du contenu d'un tableau :

Contrairement à un `tuple`, un tableau est mutable, c'est à dire que l'on peut modifer l'un de ses éléments.

### Modifier un élément :

In [20]:
tab_chaines[4]="tyty"
tab_chaines

['toto', 'titi', 'tata', 'tutu', 'tyty']

### Ajouter/supprimer un élément :
- Pour ajouter un élément à une liste on utilise la méthode **``append()``**

In [21]:
tab_chaines.append("toto")
tab_chaines

['toto', 'titi', 'tata', 'tutu', 'tyty', 'toto']

In [22]:
# Remplissage d'un tableau dans une boucle
tab_cubes = [] # on déclare un tableau vide
for k in range(10):
    tab_cubes.append(k**3) # on ajoute le cube de l'indice à chaque tour de boucle
tab_cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

- Pour supprimer un élément à une liste on utilise la méthode **``remove()``** ou encore la fonction **`del()`**

In [26]:
tab_chaines.remove("toto")
tab_chaines

ValueError: list.remove(x): x not in list

In [27]:
tab_chaines.remove(tab_chaines[-1])
tab_chaines

['titi', 'tata']

In [28]:
del(tab_chaines[0])
tab_chaines

['tata']

### Concaténation :

In [29]:
tab_chaines = ["toto"] + tab_chaines + ["tete"]
tab_chaines

['toto', 'tata', 'tete']

In [30]:
monTableau = [0] * 6
monTableau

[0, 0, 0, 0, 0, 0]

### Autre méthodes :

> Placer le curseur après le point et appuyer sur la touche `Tab`

In [33]:
monTableau.count

## Tableau par compréhension :

Il est possible de créer un tableau et de le remplir en une ligne grâce à la compréhension de tableau :

In [60]:
new_tab_entier = [n for n in range(1,6)]
new_tab_entier

[2, 4, 6, 8, 10]

In [35]:
new_tab_cubes = [k**3 for k in range(10)]
new_tab_cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [36]:
ma_liste_de_mots = [ "Cosinus", "Sinus", "Tangente", "Cotangente" ]
new_tab = [ len(mot) for mot in ma_liste_de_mots]
new_tab

[7, 5, 8, 10]

In [37]:
tab_input = [input("saisir un entier positif = ") for n in range(4)]
tab_decimal = [int(n) for n in tab_input]
tab_binaire = [bin(n) for n in tab_decimal]
tab_hexadecimal = [hex(n) for n in tab_decimal]
tab_input, tab_decimal, tab_binaire, tab_hexadecimal

saisir un entier positif = 7
saisir un entier positif = 8
saisir un entier positif = 3
saisir un entier positif = 5

(['7', '8', '3', '5'],
 [7, 8, 3, 5],
 ['0b111', '0b1000', '0b11', '0b101'],
 ['0x7', '0x8', '0x3', '0x5'])

La compréhension de tableau permet de rajouter une condition `if` :

In [38]:
new_tab_tableaux = [[i for i in range(10) if i % 2 == 0],[j for j in range(10) if j % 2 == 1]]
new_tab_tableaux

[[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]

In [39]:
multiples_de_cinq_ou_de_sept_mais_pas_des_deux = [n for n in range(100) if ((n % 5 == 0 or n % 7 == 0) and n % 35 != 0)]
multiples_de_cinq_ou_de_sept_mais_pas_des_deux

[5,
 7,
 10,
 14,
 15,
 20,
 21,
 25,
 28,
 30,
 40,
 42,
 45,
 49,
 50,
 55,
 56,
 60,
 63,
 65,
 75,
 77,
 80,
 84,
 85,
 90,
 91,
 95,
 98]

> **Une instruction par compréhension se construit de la façon suivante :**
>```python
[fonction for i in sequence condition]
```

## Identité et copie de tableau :

Deux tableaux qui sont liés par une relation d'égalité pointent vers la même adresse mémoire.

La modification de l'un entraîne la modification de l'autre.

Si l'on souhaite mémoriser l'état initial d'un tableau avant sa modification il faut le copier au préalable avec la méthode `copy()`...

In [40]:
t1 = [1,2,3]
t2 = t1
t3 = t1.copy()
t1, t2, t3

([1, 2, 3], [1, 2, 3], [1, 2, 3])

In [41]:
t1[0] = 5
t1, t2, t3

([5, 2, 3], [5, 2, 3], [1, 2, 3])

### Observation avec Python tutor

In [42]:
from metakernel import register_ipython_magics
register_ipython_magics()

In [43]:
%%tutor
t1 = [1,2,3]
t2 = t1
t3 = t1.copy()
t1[0] = 5
t3[1] = 7

<h3 class='fa fa-code' style="color: darkorange"> A programmer vous-même :</h3>


#### EXERCICE n°1 :

1- Écrire une fonction ``additionne_element(tableau)`` qui retourne la somme des éléments d’un tableau.

Tester pour ``tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]``

2- Écrire une fonction ``moyenne_element(tableau)`` qui retourne la moyenne des éléments d’un tableau.

Tester pour ``tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]``

In [ ]:
def additionne_element(tableau):
    '''Programme qui va retourner la somme des éléments du tableau.
    L utilisateur doit donner un tableau.'''
    somme = 0
    for i in range(len(tableau)):
        somme += tableau[i]
    return somme

In [58]:
tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]
additionne_element(tableau)

250

In [ ]:
def moyenne_element(tableau):
    '''Programme qui va retourner la moyenne des éléments du tableau.
    L utilisateur doit donner un tableau.'''

    return additionne_element(tableau)/len(tableau)

In [59]:
moyenne_element(tableau)

35.714285714285715

In [49]:
def moyenne_element(tableau):
    '''Programme qui va retourner la moyenne des éléments du tableau.
    L utilisateur doit donner un tableau.'''
    moyenne = 0
    for i in range(len(tableau)):
        moyenne += tableau[i]
    moyenne = moyenne/len(tableau)
    return moyenne


tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]

moyenne_element(tableau)

250
35.714285714285715

#### EXERCICE n°2 :

Écrire une fonction ``supprimer_doublons(tableau)`` qui permet de supprimer les doublons d'un tableau.

Tester pour ``tableau = [20,41,52,41,20,78,41,63,52,20]``

In [56]:
def supprimer_doublons(tableau):
    '''Programme qui'''
    nvtableau = []
    for i in range(len(tableau)):
        if not tableau[i] in nvtableau:
            nvtableau += [tableau[i]]
    return nvtableau
tableau = [20,41,52,41,20,78,41,63,52,20]
supprimer_doublons(tableau)

[20, 41, 52, 78, 63]

#### EXERCICE n°3 :

1- Écrire une fonction ``multiplie_par_2(tableau)`` qui multiplie par 2 chaque élément du tableau

Tester pour ``tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]``

2- Écrire une compréhension de tableau qui permet d’effectuer cette tâche.

3- Compléter cette instruction pour que le tableau ne contienne que des valeurs supérieures à 50

In [57]:
def multiplie_par_2(tableau):
    ''''''
    nvtableau = []
    for i in range(len(tableau)):
        nvtableau += [tableau[i]*2]
    return nvtableau
tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]
multiplie_par_2(tableau)

[20, 40, 60, 20, 40, 120, 200]

In [64]:
tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]
nvtableau = [ tableau[n]*2 for n in range(len(tableau)) ]
nvtableau

[60, 120, 200]

In [ ]:
tableau = [ 10 , 20 , 30 , 10 , 20 , 60 , 100 ]
nvtableau = [ tableau[n]*2 for n in range(len(tableau)) if tableau[n]*2>50 ]
nvtableau

****
## Références aux programmes :

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cv16{font-weight:bold;background-color:#dae8fc;border-color:inherit;text-align:center}
.tg .tg-xldj{border-color:inherit;text-align:left}
</style>
<table class="tg">
  <tr>
    <th class="tg-cv16">Contenus</th>
    <th class="tg-cv16">Capacités attendues</th>
    <th class="tg-cv16">Commentaires</th>
  </tr>
  
  <tr>
    <td class="tg-xldj">Tableau indexé,<br> tableau donné en compréhension</td>
    <td class="tg-xldj">Lire et modifier les éléments d’un tableau grâce à leurs index.<br> Construire un tableau par compréhension.<br> Utiliser des tableaux de tableaux pour représenter des matrices : notation a [i] [j].<br>Itérer sur les éléments d’un tableau.
</td>
    <td class="tg-xldj">Seuls les tableaux dont les éléments sont du même type sont présentés.<br> Aucune connaissance des
tranches (slices) n’est exigible. <br> L’aspect dynamique des tableaux de Python n’est pas évoqué.<br> Python identifie listes et tableaux. <br>Il n’est pas fait référence aux tableaux de la bibliothèque NumPy.
</td>
  </tr>
  
</table>

## Pour Aller plus loin :
Le type `list` de Python permet de créer des tableaux (des listes de listes) pas obligatoirement homogènes en taille, ni en type :

In [44]:
monTableau= [[1,2,3,4],["toto","titi","tata"], [-3.14, 0.5, 1, 2.35, 6.48]]
monTableau[1][0], type(monTableau)

('toto', list)

> La bibliothèque **``numpy``** permet de gérer des tableaux numériques homogènes, des matrices...